<footer class="MasterFoot">
  <div class="MasterFoot__Wrapper">
    <a href="#"><img src="/img/logo.png" alt="COQOON" class="Logo Logo--footer mB20"></a>
    <ul class="MasterFoot__Navigation mB20">
      <% footer.forEach(function(footer){ %>
        <li class="MasterFoot__List"><a href="#" class="MasterFoot__Link"><%= footer.FootList %></a></li>
      <% }); %>
    </ul>
    <p class="MasterFoot__Copyright"><small>copyright(c) 2017 COQOON All Rights Reserves.</small></p>
  </div>
</footer>
