<header class="MasterHead">
  <div class="MasterHead__Wrapper">
    <a href="/"><img src="/img/logo.png" alt="COQOON" class="Logo Logo--header"></a>
    <!-- ハンバーガーメニュー -->
    <a class="Toggle">
      <span class="Toggle__Lines">
        <span class="Toggle__Line"></span>
      <span class="Toggle__Line"></span>
      <span class="Toggle__Line"></span>
      </span>
    </a><!-- ハンバーガーメニューここまで -->
    <nav class="MasterHead__Navigation">
      <ul class="MasterHead__Block">
        <li class="MasterHead__List">
          <a href="#js-About" class="MasterHead__Link">ABOUT</a>
        </li>
        <li class="MasterHead__List">
          <a href="#js-Service" class="MasterHead__Link">FEATURES</a>
        </li>
        <li class="MasterHead__List">
          <a href="#js-Service" class="MasterHead__Link">SERVICE</a>
        </li>
        <li class="MasterHead__List">
          <a href="#js-Portfolio" class="MasterHead__Link">PORTOFOLIO / JOB</a>
        </li>
        <li class="MasterHead__List">
          <a href="#js-Gallery" class="MasterHead__Link">GALLERY</a>
        </li>
        <li class="MasterHead__List">
          <a href="#js-Question" class="MasterHead__Link">Q&amp;A</a>
        </li>
        <li class="MasterHead__List">
          <a href="#" class="MasterHead__Link MasterHead__Link--booth">ブースへ行く</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="LoginButton LoginButton--booth">ブースへ行く</a>
  </div>
</header>
