<!-- ヘッダー -->
<header class="MasterHead">
  <div class="MasterHead__Wrapper">
    <a href="/"><img src="/img/logo.png" alt="COQOON" class="Logo Logo--header"></a>
    <!-- ハンバーガーメニュー -->
    <a class="Toggle">
      <span class="Toggle__Lines">
        <span class="Toggle__Line"></span>
        <span class="Toggle__Line"></span>
        <span class="Toggle__Line"></span>
      </span>
    </a><!-- ハンバーガーメニューここまで -->
    <nav class="MasterHead__Navigation">
      <ul class="MasterHead__Block">
        <% header.forEach(function(header){ %><li class="MasterHead__List"><a href="#" class="MasterHead__Link"><%= header.HeadList %></a></li>
        <% }); %><li class="MasterHead__List"><a href="#" class="MasterHead__Link MasterHead__Link--booth">ブースへ行く</a></li>
      </ul>
    </nav>
    <a href="#" class="LoginButton LoginButton--booth">ブースへ行く</a>
  </div>
</header><!-- ヘッダーここまで-->
