.AboutWrapper {
  margin-top: 100px;
  @include media ($pad) {
    margin-top: 110px;
  }

  .Abouts {
    padding-top: 30px;
    .HeroLogo {
      margin: 90px 0 50px;

      @include media ($sp) {
        margin-top: 50px;
        margin-bottom: 35px;
      }
    }

    &__Text {
      text-align: center;
      font-size: 1.6rem;
      padding-bottom: 90px;

      @include media ($sp) {
        font-size: 1.4rem;
        text-align: justify;
        line-height: 1.8em;
        padding-bottom: 0;
      }
    }
    @include media ($pad) {
      padding-top: 0;
    }
  }

  .Members {
    position: relative;
    border-bottom: 1px solid #ccc;
    &__Block {
      @include flex();
      flex-wrap: wrap;
      margin-top: 80px;
      @include media ($sp) {
        justify-content: space-around;
        padding: 0;
        margin-top: 50px;
      }
      @include media ($pad){
        padding: 0 25px;
        box-sizing: border-box;
        justify-content: space-between;
      }
    }
    &__List {
      position: relative;
      // margin-bottom: 292px;
      @include media ($pad) {
        // margin-bottom: 255px;
        margin: 0 auto;
        width: 330px;
      }
      &:first-child {
        padding-right: 137px;
        @include media ($pad) {
          padding-right: 0;
        }
      }

    }
    &__Image {
      display: block;
      width: 330px;
      height: 272px;
      @include media ($pad) {
        width: auto;
        height: auto;
        text-align: center;
      }
    }
  }

  .Modal__Wrapper{
    position: relative;
  }

  .Modal {
    padding: 3px;
    box-sizing: border-box;
    // width: 330px;
    // height: 272px;
    position: relative;
    top: -70px;
    left: 70px;
    min-height: 272px;
    @include media ($pad) {
      left: 0;
    }
    .FadeIn{
      max-width: 324px;
      height: 100%;
      margin: 0 auto;
      min-height: 266px;
      opacity: 0;
      transition: all 0.2s;
      transition-timing-function: ease-out;
      z-index: 0;
      // border: 3px solid  #000;
      box-sizing: border-box;
      padding: 0 20px;
      background-color: rgba(255,255,255,0.9);
      // animation-name: modalSlide;
      @include media ($pad) {
        // top: 200px;
        position: static;
        margin: 0 auto;
      }
    }
    &__Name {
      padding: 20px 0 12px;
      font-size: 1.8rem;
      border-bottom: 1px solid #000;
    }
    &__Job{
      padding-top: 12px;
      padding-bottom: 10px;
      font-size: 1.3rem;
    }
    &__Description{
      font-size: 1.3rem;
      padding-bottom: 20px;
    }
    .Snses{
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}

.GoForm{
  .CapTitle{
    margin-top: 60px;
    @include media ($pad) {
      margin-top: 35px;
    }
  }
  .Contact__Description{
    margin: 20px 0 45px;
  }
  .Button{
    margin-bottom: 60px;
    @include media ($sp) {
      width: 100%;
      margin-bottom: 45px;
    }
  }
}

.ModalPoint{
  position: absolute;
  left: 50%;
  top: 31%;
  bottom: auto;
  right: auto;
  z-index: 9999;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  display: block;
  width: 100%;
}
