@viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  position: relative;
  left: 0;
  overflow-x: hidden;
}

* {
  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $base_font;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  background: transparent;
  text-decoration: none;
  transition: color 0.2s;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  margin: 0;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  letter-spacing: 1px;
}

dd,
dl,
dt,
li,
p,
td,
th,
tr,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.Wrapper {
  @include flex();
  @include fd(column);
  align-items: center;
  justify-content: center;
}

.Containr {
  max-width: $base_maxwidth;
  width: 100%;
  margin: 0 auto;
  @include media ($pad) {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.Gloval {
  width: 100%;
  // position: relative;
  @include media ($pad) {
    position: static;
    margin-top: 0;
  }
}

.Sub {
  padding-bottom: 40px;
  @include media ($pad) {
    padding-bottom: 0px;
  }

}

.Loading {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 2;

  &__Gif {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 9999;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
}

.b-line {
  box-sizing: border-box;
  border-bottom: 3px solid #000;
}

.CapTitle {
  font-size: 2.3rem;
  line-height: 1;
  text-align: center;
  font-family: $eigo_font;
  font-weight: 600;
  margin-top: 50px;
  @include media ($sp) {
    font-size: 2rem;
  }
}

.HeroLogo {
  text-align: center;

  img {
    width: 200px;
    height: 200px;
    @include media ($sp) {
      height: 150px;
      width: 150px;
    }
  }

  &--About {
    img {
      @include media ($sp) {
        height: 100px;
        width: 100px;
      }
    }
  }
}

.fix {
  position: fixed;
  height: 100%;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.RowColumn {
  @include flex();
  @include fd(row);
  justify-content: center;
  @include media ($sp) {
     @include fd(column);
  }
}
