.Button {
	width: 280px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	font-size: 1.8rem;
	position: relative;
	display: block;

	&::after {
		position: absolute;
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		top: 18px;
		right: 15px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		transform: rotate(45deg);
	}

	&--green {
		background: -webkit-linear-gradient(bottom left, #31bdd2, #39d2ba 50%, #2b9e8c);
		background: -o-linear-gradient(bottom left, #31bdd2, #39d2ba 50%, #2b9e8c);
		background: linear-gradient(to top right, #31bdd2, #39d2ba 50%, #2b9e8c);
	}

	&--clear {
		border: 1px solid #fff;
	}
}
