$color: #d3f169;

.Button {
	width: 280px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	font-size: 1.8rem;
	position: relative;
	display: block;

	@include media ($sp) {
		width: 100%;
		font-size: 1.6rem;
		align-self: center;
	}

	&:hover{
		animation: halftone 1s forwards;
    background: radial-gradient(circle, #39d2ba 0.15em, transparent 0.25em) 0 0 / 1.25em 1.25em, radial-gradient(circle, #39d2ba 0.15em, transparent 0.25em) 6.25em 6.25em / 1.25em 1.25em;
    color: adjust-hue(#fff,180);
		border-radius: 30px;
		border: none;
	}

	&::after {
		position: absolute;
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		top: 18px;
		right: 15px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		transform: rotate(45deg);
	}

	&--green {
		background-image: -webkit-linear-gradient(bottom left, #31bdd2, #39d2ba 50%, #2b9e8c);
		background-image: -o-linear-gradient(bottom left, #31bdd2, #39d2ba 50%, #2b9e8c);
		background-image: linear-gradient(to top right, #31bdd2, #39d2ba 50%, #2b9e8c);
	}

	&--clear {
		border: 1px solid #fff;
		box-sizing: border-box;
	}
	&--banner{
		&:last-child{
			margin-bottom: 0;
		}
		@include media ($sp) {
			margin-bottom: 20px;
			margin-right: 0;
		}
	}
}

.BuyBotton{
	cursor: pointer;
	border-radius: 3px;
	&__Product{
		position: absolute;
		bottom: 10px;
		right: 10px;
		padding: 5px 15px;
		z-index: 2;
		border-radius: 30px;
		font-size: 1rem;
		@include media ($sp) {
			bottom: 14px;
		}
	}
	&--pink{
		color: #ffa892;
		border: 1px solid #ffa892;
	}
}

.Buttons{
	@include flex();
	align-items: center;
	justify-content: center;
	@include media ($sp) {
		width: 100%;
		@include fd(column);
	}
}

.LoginButton{
	line-height: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	&--booth {
		text-align: center;
		color: #fff;
		position: absolute;
		right: 10px;
		top: 15px;
		padding: 0 10px;
		font-size: 1rem;
		position: absolute;
		line-height: 26px;
		border: 1px solid #fff;
		box-sizing: border-box;
		border-radius: 3px;
		&::after{
			display: none;
		}
		@include media ($pc) {
			display: none;
		}
	}
}
