.Features{
  background-color: #f7f7f7;
  &__Wrapper{
    padding: 60px 0;
  }
  &__Block{
    @include flex();
    justify-content: space-between;
    align-items: baseline;
  }
  &__Item{
    width: 240px;
    @include flex();
    @include fd(column);
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__Image{
    width: 120px;
  }
  &__Caption{
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  &__Description{
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 1.8em;
    text-align: center;
  }
}
