.Top{
  .MasterFoot{
    padding-top: 0;
    @include media ($pad) {
      border-top: none;
      height: 0;
      margin-top: -40px;
    }
    &__Copyright{
      @include media ($pad) {
        color: #fff;
      }
    }
    .sp-sns-menu{
      position: absolute;
      left: 50%;
      top: 85%;
      bottom: auto;
      right: auto;
      z-index: 9999;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      &__list{
        padding-right: 50px;
        &:last-child{
          padding-right: 0;
        }
      }
      &__link{
        font-size: 3rem;
      }
    }
  }
}

.MasterFoot {
  width: 100%;
  height: 40px;
  padding-top: 15px;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #999;
  box-sizing: border-box;
  @include media ($pad) {
    height: 70px;
    border-top: 1px solid #ccc;
    background-color: inherit;
    box-sizing: border-box;
  }
  @include media ($pc) {
    position: absolute;
    bottom: 0;
  }

  &__Copyright {
    line-height: 40px;
    color: #999;
    font-size: 10px;
    letter-spacing: 1px;
  }
}
