.MasterHead{
  width: 100%;
  min-width: 1000px;
  height: 60px;
  background-color: rgba(0,0,0,0.35);
  transition: all .5s;
  position: fixed;
  z-index: 99;
  &__Wrapper{
    @include flex();
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
  }
  &__Navigation{
  }
  &__Block{
    width: 100%;
    @include flex();
  }
  &__List{
    padding-right: 30px;
    &:last-child{
      padding-right: 0;
    }
  }
  &__Link{
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.2rem;
    &--booth{
      border: 1px solid  #fff;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 8px 13px;
    }
  }
}
