.Portfolio{
	background-color: #fefefe;
	box-shadow: 0 -5px 20px rgba(0,0,0,0.1);
	&__Wrapper{
		padding: 60px 0;
		@include media ($sp) {
			padding: 40px 10px;
    }
	}
	&__Description{
		max-width: 740px;
		font-size: 1.6rem;
		line-height: 1.8em;
		letter-spacing: 1px;
	}
	&__GetScout{
		width: 870px;
		margin: 0 auto;
		position: relative;
		@include media ($sp) {
			width: 100%;
    }
	}
	&__GetScoutText{
		font-size: 1.6rem;
		background-color: #fefefe;
		position: absolute;
		z-index: 1;
		box-sizing: border-box;
		padding: 0 20px;
		top: -8px;
		left: 20px;
	}
	&__Companies{
		border: 2px solid #ec8c2c;
		padding: 30px 60px;
		box-sizing: border-box;
		@include flex();
		flex-wrap: wrap;
		justify-content: center;
	}
	&__CompanyImage{
		box-sizing: border-box;
		margin-right: 30px;
		@include media ($sp) {
			margin-right: 0;
			width: 50%;
			text-align: center;
    }
		&:nth-of-type(6){
			margin-bottom: 20px;
			@include media ($sp) {
				margin-bottom: 0;
	    }
		}
		&:last-child{
			margin-right: 0;
		}
		img{
			width: 80px;
		}
	}
}
