.Question {
	background-color: #fefefe;

	&__Wrapper {
		padding: 60px 0;
		@include media ($sp) {
			padding: 40px 10px;
		}
	}

	&__Block {
		border: 1px solid #219d7c;
		border-radius: 5px;
		box-sizing: border-box;
		cursor: pointer;
		// margin-top: 20px;
		&:nth-of-type(4){
			margin-bottom: 50px;
			@include media ($sp) {
				margin-bottom: 30px;
			}
		}
	}

	&__Item {
		@include flex();
		align-items: center;
		margin: 10px;
	}

	&__Icon {
		&--question {
			font-size: 2.6rem;
			color: #219d7c;
			border-right: 1px solid #219d7c;
			padding: 10px 20px 10px 10px;
			box-sizing: border-box;
			margin-right: 20px;
		}

		&--plus {
			position: absolute;
			right: 15px;
			bottom: 10px;
			font-size: 3rem;
			color: #219d7c;
		}
	}

	&__Title {
		font-size: 1.6rem;
		@include media ($sp) {
			font-size: 1.4rem;
			width: 60%;
			white-space: normal;
			word-wrap: normal;
			line-height: 1.4em;
		}
	}

	&__Description {
	}

	&__Answer {
		font-size: 1.6rem;
		padding: 20px 0 20px 80px;
		border-top: 1px dashed #219d7c;
		@include media ($sp) {
			font-size: 1.4rem;
		}
	}
}

.js-Question__Answer {
	display: none;
}
