.sp-sns-menu {
  display: none;
  @include media ($pad) {
    box-sizing: border-box;
    @include flex();
    &__list {
      display: block;
      margin-right: 46px;
      &:last-child{
        margin-right: 0;
      }
    }

    &__link {
      font-size: 2.8rem;
      &--black {
        color: #000;
      }
      &--white{
        color: #fff;
      }
    }
  }
}

.Snses{
  @include flex();
  justify-content: flex-end;
  &__List{
    padding-right: 20px;
    &:last-child{
      padding-right: 0;
    }
  }
  &__Link{
    color: #000;
    font-size: 2.2rem;
  }
}
