.TopHero {
	width: 100%;
	background-image: url("../../img/bg_top.png");
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 0;

	&::before {
		background-color: rgba(0,0,0,0.6);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		z-index: -1;
	}

	&__Wrapper {
		@include flex();
		height: 680px;
		justify-content: center;
		align-items: center;
		@include fd(column);
		@include media ($sp) {
			height: 400px;
		}
	}

	&__Texts {
		text-align: center;
		font-feature-settings: "palt";
		@include media ($sp) {
      @include flex();
      @include fd(column);
      justify-content: center;
      align-items: center;
    }
	}

	&__Logo {
		margin-bottom: 46px;
		@include media ($sp) {
			margin-bottom: 20px;
		}
	}

	&__Title {
		font-size: 4.2rem;
		font-weight: normal;
		color: #fff;
		letter-spacing: 10px;
		margin-bottom: 14px;
		@include media ($sp) {
			font-size: 2rem;
			letter-spacing: 2px;
		}
	}

  &__TitleSpan{
    @include media ($pad) {
      margin-right: 10px;
    }
  }

	&__SubTitle {
		font-size: 2rem;
		font-weight: normal;
		color: #fff;
		letter-spacing: 6px;
		margin-bottom: 103px;
		@include media ($sp) {
			font-size: 1.4rem;
			line-height: 1.6em;
      margin-bottom: 40px;
		}
	}
}
