.TopHero{
  width: 100%;
  height: 100vh;
  background-image: url(../../img/bg_top.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
  &::before{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content:'';
    z-index: -1;
  }
  &__Wrapper{
    @include flex();
    height: 100vh;
    justify-content: center;
    align-items: center;
    @include fd(column);
  }
  &__Texts{
    text-align: center;
    font-feature-settings : "palt";

  }
  &__Logo{
    margin-bottom: 46px;
  }
  &__Title{
    font-size: 4.2rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 10px;
    margin-bottom: 14px;
  }
  &__SubTitle{
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 6px;
    margin-bottom: 103px;
  }
}
