.WorksWrapper{
  width: 100%;
  margin-top: 100px;
  @include media ($sp) {
    margin-top: 110px;
  }
}

.Works{
  padding-top: 30px;
  border-bottom: 1px solid  #eee;
  &__Block{
    @include flex();
    justify-content: space-between;
    flex-wrap: wrap;
    @include media ($pad) {
    justify-content: space-around;
    }
  }
  &__Item{
    width: 420px;
    margin-top: 60px;
    box-sizing: border-box;
    &:last-child{
      margin-bottom: 60px;
    }
    @include media ($pad) {
      width: 47%;
    }
    @include media ($sp) {
      width: 100%;
    }
  }
  &__Photo{
    position: relative;
    width: 420px;
    height: 236px;
    overflow: hidden;
    @include media ($pad) {
      line-height: 0;
      width: 100%;
      height: auto;
    }
    @include media ($sp) {
      width: 100%;
      height: auto;
      line-height: 0;
    }
  }
  &__Tag{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.4rem;
    color: #111;
    width: 60px;
    height: 26px;
    line-height: 26px;
    padding: 1px 0 0 2px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
  }
  &__Descriptions{
    @include flex();
    @include fd(column);
    box-sizing: border-box;
    padding-top: 10px;
  }
  &__Title{
    font-size: 1.4rem;
    color: #111;
    font-weight: normal;
    margin-bottom: 3px;
  }
  &__Infomation{
    font-size: 1.2rem;
    color: #888;
  }
  @include media ($sp) {
    padding-top: 0;
  }
}

.DetailWrapper{
  margin-top: 100px;
  @include media ($sp) {
    margin-top: 90px;
  }
}

.Detail{
  &__Media{
    width: 100%;
    height: 489px;
    // margin:  20px auto 0;
    @include media ($sp) {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
  &__Data{
    font-size: 1.4rem;
    @include flex();
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    color: #111;
    @include media ($sp) {
      margin-top: 35px;
    }
  }
  &__Block{
    border-bottom: 1px solid #eee;
    &--credit{
      font-size: 1.6rem;
      @include media ($sp) {
        font-size: 1.2rem;
      }
    }
    @include media ($sp) {
      margin: 35px 0;
      padding-bottom: 35px;
    }
  }
  &__Title{
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 50px;
    @include media ($sp) {
      margin-bottom: 25px;
      font-size: 1.4rem;
    }
  }
  &__Description{
    font-size: 1.6rem;
    @include media ($sp) {
      font-size: 1.2rem;
    }
    &--photo{
      width: 100%;
      @include flex();
      @include media ($pad) {
        @include fd(column);
      }
    }
  }

  &__DescriptionPhoto{
    overflow: hidden;
    box-sizing: border-box;
    &:last-child{
      @include media ($pad) {
        padding-left: 0;
        margin-top: 20px;
      }
    }
    img {
      width: 420px;
      height: 236px;
      @include media ($sp) {
        width: 100%;
      }
    }
  }
  &__CreditDescription{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
    @include media ($sp) {
      margin-bottom: 20px;
    }
  }
  &__CreditLink{
    color: #111;
  }
}
